{% extends "base.html" %}
{% load static %}

{% block style %}
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">
    <!-- Fontawessome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
{% endblock %}

{% block content %}
    <!-- Begin page content -->

        <div class="alerts-fixed-container" id="alertsFixedContainer"></div>

        <div class="container">
            <div class="row">
                <div class="d-flex align-items-center justify-content-between mb-4" style="padding-left: 1rem;">
                    <div class="d-flex align-items-center">
                        <h1 class="mb-0 me-3" style="font-size: 2rem;">{{ pagename }}</h1>
                        {% if unread_count > 0 %}
                            <span class="badge bg-success" style="font-size: 1.2rem;">NEW</span>
                        {% endif %}
                    </div>
                    <a href="{% url 'delete_read_notifications' %}" class="badge bg-success text-decoration-none"
                       style="font-size: 1rem;">
                        Удалить все просмотренные
                    </a>

                </div>
                {% if notifications %}
                    <div class="row">
                        {% for notif in notifications %}
                            <div class="col-12 mb-3">
                                <div class="card ">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="mb-0">
                                                {% if notif.notification_type == "comment" %}
                                                    <i class="fas fa-comment text-primary"></i>
                                                {% else %}
                                                    <i class="fas fa-bell text-info"></i>
                                                {% endif %}
                                                {{ notif.title }}
                                                {% if not notif.is_read %}
                                                    <span class="badge bg-success ms-2">NEW</span>
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <div>
                                            <small class="text-muted">
                                                {{ notif.created_at|date:"j E Y г. в H:i" }}</small>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ notif.message }}</p>
                                        {% if notif.comment or notif.notification_type %}
                                            <a href="{% url 'mark_notification' notif.id %}"
                                               class="btn btn-sm btn-outline-primary">
                                                Перейти к сниппету
                                            </a>
                                            <a href="{% url 'delete_notification' notif.id %}"
                                               class="btn btn-sm btn-outline-primary float-end">
                                                Удалить уведомление
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        </div>
{% endblock %}

<!-- Optional JavaScript -->
{#{% block scripts %}#}
{#    {{ block.super }}#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"#}
{#        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"#}
{#        crossorigin="anonymous"></script>#}
{#    <script src="{% static 'js/api_example.js' %}"></script>#}
{#{% endblock %}#}