{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block style %}
    {{ block.super }}
    <style>
        .fa-solid {
            color: #932e2e;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>
        <div class="container mb-3">
            <form action="" method="get" class="row g-2 align-items-end">
                <!-- Поиск -->
                <div class="col-md-5">
                    <label for="search" class="form-label">Поиск</label>
                    <input type="text" name="search" id="search" value="{{ search|default:'' }}" class="form-control"
                           placeholder="Введите текст">
                </div>

                <!-- Кнопка "Найти" -->
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary w-100 mt-4">Найти</button>
                </div>

                <!-- Теги -->
                <div class="col-md-5">
                    <label for="tag" class="form-label">Фильтр по тегу</label>
                    <select name="tag_id" id="tag" class="form-select">
                        <option value="">Выберите тег</option>
                        {% for tag in available_tags %}
                            <option value="{{ tag.id }}" {% if tag.id|stringformat:"s" == tag_id %}selected{% endif %}>
                                {{ tag.name }}
                            </option>
                            {% empty %}
                            <option disabled>Теги отсутствуют</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Кнопка "Фильтровать" -->
                <div class="col-md-1">
                    <button type="submit" class="btn btn-outline-primary w-100 mt-4">Фильтр</button>
                </div>
            </form>
        </div>

        <form action="" method="get">
            <div class="row align-items-end mb-2">
                <div class="col-md-5">
                    <div class="filter-section">
                        <select class="form-select" id="languageFilter" name="lang" )>
                            <option value="">select language</option>
                            {% for LANG_CHOICE in LANG_CHOICES %}
                                <option {% if lang == LANG_CHOICE.0 %} selected {% endif %}
                                                                       value="{{ LANG_CHOICE.0 }}">{{ LANG_CHOICE.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <input class="btn btn-primary w-100" type="submit" value="ok">
                </div>
                <div class="col-md-5">
                    <div class="filter-section">
                        {#         <label for="authorFilter" class="form-label">Фильтр по автору:</label>#}
                        <select class="form-select" id="authorFilter" name="user_id">
                            <option value="">select user</option>
                            {% for user in users %}
                                <option {% if user_id == user.id %} selected {% endif %}
                                                                    value="{{ user.id }}">{{ user.username }}
                                    --- {{ user.public_snippets }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-md-1">
                    <input class="btn btn-primary w-100" type="submit" value="ok">
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">
                            {% if sort == "name" %}
                                <a href="{% querystring sort='-name' %}">Название</a>
                                <i style="color: white" class="fa-solid fa-arrow-up-a-z"></i>
                            {% elif sort == "-name" %}
                                <a href="{% querystring sort='name' %}">Название</a>
                                <i style="color: white" class="fa-solid fa-arrow-up-z-a"></i>
                            {% else %}
                                <a href="{% querystring sort='name' %}">Название</a>
                            {% endif %}
                        </th>
                        <th>
                            {% if sort == "lang" %}
                                <a href="{% querystring sort='-lang' %}">Язык</a>
                                <i style="color: white" class="fa-solid fa-arrow-up-a-z"></i>
                            {% elif sort == "-lang" %}
                                <a href="{% querystring sort='lang' %}">Язык</a>
                                <i style="color: white" class="fa-solid fa-arrow-up-z-a"></i>
                            {% else %}
                                <a href="{% querystring sort='lang' %}">Язык</a>
                            {% endif %}
                        </th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Автор</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for snippet in page_obj %}
                        <tr>
                            <td scope="row">{{ snippet.id }}</td>
                            <td>
                                <a href="{% url 'snippet-detail' snippet.id %}">{{ snippet.name }}</a>
                                <a href="{% url 'snippet-delete' snippet.id %}"
                                   onclick="return confirm('Вы уверены, что хотите удалить этот сниппет?');">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                                <a href="{% url 'snippet-edit' snippet.id %}">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <br>
                            </td>
                            <td>
                                <i class="fa-brands {{ snippet.lang | icon_class }}"></i>
                                {{ snippet.lang }}
                            </td>
                            <td>{{ snippet.creation_date }}</td>
                            <td>
                                {% if snippet.public %}
                                    <i class="fa-solid fa-lock-open"></i>
                                {% else %}
                                    <i class="fa-solid fa-lock"></i>
                                {% endif %}
                                {{ snippet.user|default:'Anonim'}}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <i id="total snippets" class="text-muted">Всего сниппетов: {{ page_obj.paginator.count }}</i></div>
            </div>
            <div>
                <a href="{% url 'snippets-list' %}" class="btn btn-secondary">
                    Сбросить фильтры
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {# Блок пагинации #}
                {% if page_obj.has_other_pages %} {# Проверяем, есть ли вообще другие страницы #}
                    <nav aria-label="Пагинация статей">
                        <ul class="pagination justify-content-center"> {# Центрируем пагинацию #}

                            {# Ссылка на предыдущую страницу #}
                            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                <a class="page-link"
                                        {#                                   {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}#}
                                   {% if page_obj.has_previous %}href="{% querystring page=page_obj.previous_page_number %}"{% endif %}
                                   tabindex="-1" aria-disabled="true">Предыдущая</a>
                            </li>

                            {# Номера страниц #}
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active" aria-current="page">
                                        {#                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>#}
                                        <a class="page-link" href="{% querystring page=num %}">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        {#                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>#}
                                        <a class="page-link" href="{% querystring page=num %}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {# Ссылка на следующую страницу #}
                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                <a class="page-link"
                                        {#                                   {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Следующая</a>#}
                                   {% if page_obj.has_next %}href="{% querystring page=page_obj.next_page_number %}"{% endif %}>Следующая</a>
                            </li>

                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}