{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <style>
        .fa-solid {
            color: #932e2e;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="" method="get">
                    <label>Search: </label>
                    <input type="text" name="search" class="form-control">
                    <input type="submit" value="Find">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">
                            {% if sort == "name" %}
                                <a href="?sort=-name">Название</a>
                                <i style="color: white" class="fa-solid fa-arrow-up-a-z"></i>
                            {% elif sort == "-name" %}
                                <a href="?sort=name">Название</a>
                                <i style="color: white" class="fa-solid fa-arrow-up-z-a"></i>
                            {% else %}
                                <a href="?sort=name">Название</a>
                            {% endif %}
                        </th>
                        <th>
                            {% if sort == "lang" %}
                                <a href="?sort=-lang">Язык</a>
                                <i style="color: white" class="fa-solid fa-arrow-up-a-z"></i>
                            {% elif sort == "-lang" %}
                                <a href="?sort=lang">Язык</a>
                                <i style="color: white" class="fa-solid fa-arrow-up-z-a"></i>
                            {% else %}
                                <a href="?sort=lang">Язык</a>
                            {% endif %}
                        </th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Автор</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for snippet in snippets %}
                        <tr>
                            <td scope="row">{{ snippet.id }}</td>
                            <td>
                                <a href="{% url 'snippet-detail' snippet.id %}">{{ snippet.name }}</a>
                                <a href="{% url 'snippet-delete' snippet.id %}">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                                <a href="{% url 'snippet-edit' snippet.id %}">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <i class="fa-brands {{ snippet.icon_class }}"></i>
                                {{ snippet.lang }}
                            </td>
                            <td>{{ snippet.creation_date }}</td>
                            <td>
                                {% if snippet.public %}
                                    <i class="fa-solid fa-lock-open"></i>
                                {% else %}
                                    <i class="fa-solid fa-lock"></i>
                                {% endif %}
                                {{ snippet.user|default:'Anonim' }}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <i class="text-muted">Всего сниппетов: 2</i></div>
            </div>
        </div>
    </div>
{% endblock %}