<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/images/logo.png" width="32" height="32" alt="">
                PythonBin
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    {% if request.user.is_authenticated and request.user.is_active %}
                        <li class="ps-3">
                            <a class="btn btn-outline-warning"
                               href="{% url 'user_profile' username=request.user.username %}?tab=notifications">
                                <i class="fas fa-bell"></i> Уведомления
                                <span id="notification-count" class="badge bg-danger ms-1" data-polling="true">0</span>
                            </a>
                        </li>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const notificationCounter = document.getElementById('notification-count');
                                if (notificationCounter && notificationCounter.dataset.polling === "true") {
                                    console.log(" Start polling...");
                                    startPolling(notificationCounter);
                                }
                            });
                        </script>
                    {% endif %}
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-success" href="{% url "snippets-stats" %}">
                            Статистика
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary" href="{% url "snippet-add" %}">
                                Добавить сниппет
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="btn btn-outline-info" href="{% url "snippets-list" %}">
                            Посмотреть сниппеты
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary" href="{% url 'snippets-my' %}">
                                Мои сниппеты
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown ms-2">
                            <a class="btn btn-outline-light dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user"></i> {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-end p-2" style="min-width: 220px;">
                                <!-- Buton notificări -->
                                <a class="btn btn-outline-primary w-100 mb-2 d-flex justify-content-between align-items-center"
                                   href="{% url 'user_profile' username=request.user.username %}?tab=info">
                                     <span>
                                        <i class="fas fa-edit me-1"></i> Мой профиль
                                     </span>
                                    <span id="notification-count" class="badge bg-danger ms-2"></span>
                                </a>


                                <a class="dropdown-item d-flex align-items-center gap-2"
                                   href="{% url 'edit_profile' %}">
                                    <i class="fas fa-edit"></i> Редактировать профиль
                                </a>

                                <div class="dropdown-divider"></div>

                                <!-- Logout -->
                                <a class="dropdown-item d-flex align-items-center gap-2 text-danger"
                                   href="{% url 'logout' %}">
                                    <i class="fas fa-sign-out-alt"></i> Выйти
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown ms-2">
                            <a class="btn btn-outline-primary dropdown-toggle" href="#" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Авторизация
                            </a>
                            <div class="dropdown-menu dropdown-menu-end {% if errors %}show {% endif %}"
                                 style="min-width: 300px;">
                                <form class="px-4 py-3" action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    {% if errors %}
                                        <div class="alert alert-danger" role="alert">
                                            <ul>
                                                {% for error in errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <div class="form-group mb-2">
                                        <input type="text" class="form-control" id="usernameInput" name="username"
                                               placeholder="Имя пользователя" required>
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="password" class="form-control" id="passwordInput" name="password"
                                               placeholder="Пароль" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <div class="px-3 py-2">
                                    <small class="text-muted">
                                        Не получили письмо для подтверждения?
                                        <a href="{% url 'resend_email' %}">Отправить повторно</a>
                                    </small>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="btn btn-success" href="{% url 'registration' %}">
                                Регистрация
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>